* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    margin: 19.2px 0 0 20px;
}

table {
    overflow-x: auto;
    border-collapse: collapse;
}

tr, td {
    width: auto;
    border-bottom: 1px solid rgb(210, 210, 210);
    padding-right: 4em;
}

.text__red{
    color: rgb(250, 60, 60);
}

@media all and (max-width: 600px)
{
    tr, td {
        padding-right: 0;
    }
}
