* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
}

.pokemon-list {
    list-style-type: none;
}

.button {
    background-color: rgb(115, 134, 180);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 3px;
    cursor: pointer;
}

.button:focus {
    background-color: rgb(82, 96, 127);
}

